@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(
    180deg,
    rgb(32, 44, 136) 0%,
    rgba(9, 9, 121, 1) 15%,
    rgba(0, 2, 18, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 100px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr {
  border-radius: 10px;
  background-color: #000;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #333333;
}

.avatar {
  padding: 0.5em;
}

.nav {
  position: fixed;       /* Keep it locked in top-left */
  top: 0;
  left: 0;
  padding: 1em 2em;
  z-index: 1000; 
}

.nav-item {
  display: flex;         /* Make list items sit side-by-side */
  gap: 2rem;             /* Spacing between links */
  list-style: none;      /* Remove bullet points */
  margin: 0;
  padding: 5px;
  z-index: 1000;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.active {
  font-weight: 700;
}

.table {
  width: 80vw;
  table-layout: fixed;
  align-items: center;
  justify-content: center;
}


.table th, .table td {
  padding: 8px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.table-body {
  gap: 1rem;
}


.card {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: auto;
}

.card-body {
  padding: 0px;
  text-align: left;
}

.card h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em;
}
.card p {
  font-size: 1em;
  margin: 0;
  padding: 0em 1em 2em 1em;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}